<div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header text-center">Your Smoothie Basket</div>
    <div class="card-body">
        <h5 class="card-title">Total Amount: ${{total}}</h5>
        <hr>
        <h6 class="card-title">Smoothies bought:</h6>

        <ul>
            <li *ngFor="let order of orders.productOrders">
                {{ order.product.name }} - {{ order.quantity}} pcs.
            </li>
        </ul>

        <button class="btn btn-light btn-block" (click)="finishOrder()" [disabled]="orders.productOrders.length == 0">
            <i class="bi bi-cart-check-fill"></i> Checkout
        </button>
    </div>
</div>